// Define variables for your color scheme

// For example:
$background: rgba(200, 200, 200, 0.15);
$green: #0E91A1;
$green-hover: #146c78;
$green-dark: #013134;
$orange: #E97234;
$orange-hover: #C94727;
$text: #0E0000;
$text-light: #575757;
