<div class="outermost-bg">
  <div class="innermost-bg d-flex ">
    <!-- renders left column with avatar, name and achievements -->
    <%= render 'shared/kids#profile/profile_column', locals: {kid: @kid} %>
    <!-- renders game grid in right column, partial needs to be modified as it is currently far from optimal -->
    <%= render 'shared/kids#profile/games_column', locals: {kid: @kid, allowed_games: @allowed_games} %>
  </div>
</div>
<!-- renders modal for exit button, which is a form asking for parental confirmation -->
<%= render 'shared/kids#profile/kids_profile_end_session_modal.html' %>
