<div class="outermost-bg">
  <div class="innermost-bg d-flex ">
    <%= render 'shared/kids#profile/profile_column', locals: {kid: @kid} %>
    <%= render 'shared/kids#profile/games_column', locals: {kid: @kid, allowed_games: @allowed_games} %>
  </div>
</div>
<%= render 'shared/kids#profile/kids_profile_end_session_modal.html' %>
