// ------------- Classes -------------

.back-to-profile {
  padding: 10px 12px;
}

.forgot-password {
  color: rgb(247, 247, 247);

  &:hover {
    text-decoration: underline;
  }
}

.form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 69px;
}

.form-control {
  border-radius: 18px;
  font-size: .9375rem;
  height: 2.5rem;
  margin-bottom: 0;
  padding: .625rem 0 0 .9375rem;
  position: relative;
  width: 550px;
  z-index: 1;
}

.form-large-navbar {
  margin-top: 98px;
}

.form-page {
  align-items: center;
  background: #0A93A1;
  color: white;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 286px);
}

.hint {
  color: white !important;
}

.kids-update {
  background: #147FFB;
  border: 1px;
  border-radius: 25px;
  color: #FFFFFF;
  font-family: sans-serif;
  height: 50px;
  margin-bottom: 20;
  margin-right: 30px;
  padding: 10px 30px;
  width: 130px;
}

.link-in-text {
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

.name {
  text-transform: capitalize;
}

.recover {
  border: 1px;
  border-radius: 25px;
  display: inline-block;
  font-family: sans-serif;
  padding: 12px 45px;
  text-align: center;
  transition: 0.3s;
  width: 160px;
}

.recover-password {
  background-color: lightgrey !important;
  border-radius: 25px !important;
  display: inline-block;
  width: 180px;
}

.rounded {
  border-radius: 25px !important;
  display: inline-block;
  width: 130px;
}

.signup-button {
  border: 1px;
  border-radius: 25px;
  color: white !important;
  display: inline-block;
  font-family: sans-serif;
  padding: 12px 45px;
  text-align: center;
  transition: 0.3s;
  width: 130px;
}

// ------------- IDs -------------
