// ------------- Classes -------------

.allow-button {
  margin-bottom: 0;
}

.all-games {
  margin-top: 20vh;
  @media (max-width: 428px) {
    margin-top: 74px;
  }
  @media (min-width: 568px) and (max-width:600px) and (orientation: landscape) {
    margin-top: 74px;
  }
  @media (min-width: 600px) and (max-width:800px) and (orientation: landscape) {
    margin-top: 114px;
  }
  @media (min-width: 801px) and (max-width: 867px) and (orientation: landscape) {
    margin-top: 32vh;
  }
}

.allowed-card {
  font-size: 1.5rem;
}

.allowed-info-container {
  border-bottom: 2px solid $orange;
}

.card-grid {
  display: grid;
  gap: 1.4rem;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.card-grid-kids-show {
  display: grid;
  gap: 1.4rem;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
}

.child-link-opacity {
  opacity: 0.7;
}

.dropdown-menu {
  height: auto;
  padding: 0;
  width: 200px;
}

.filter-container {
  @media (min-width: 300px) {
    justify-content: space-around;
  }
  @media (min-width: 768px) {
    justify-content: start;
  }
  @media (max-width: 800px) and (orientation: landscape) {
    justify-content: space-around;
  }

}
.games {
  background: white;
  border: 1px solid #eee;
}

.games-page {
  background: $background;
  height: 100%;
  width: 100%;
}

.link-color {
  color: $green;
  padding: 4px;

  &:hover {
    background-color: #eee;
    border-radius: 8px;
    color: $text-light;
    padding: 4px;
  }
}

.link-selected {
  background-color: #888;
  border-radius: 8px;
  padding: 4px;
}

.modal-content {
  margin: 25vh auto;
}

.modal-kid-name {
  margin-bottom: 0;
  width: 80px;
}

// ------------- IDs -------------

#game-card-dropdown-button {
  min-width: 200px;
  max-width: 230px;
}
