.racer-table {
  text-align: center;
  margin: auto;
}
.tbody {
  margin: 0 auto;
  display: flex;
}
#player1-race, #player2-race {
  margin: 0 auto;
}
.racer-table td {
  height: 100px;
  width: 100px;
  border: 1px solid lightgrey;
}
.racer-table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}
.finish {
  background-image: url("finish.png");
  background-size: 100%;
}
#player1-race td.active {
  background-image: url("player1.png");
  background-position:
    top 10px left 0px;
}
#player2-race td.active {
  background-image: url("player2.png");
  background-position:
    top 10px left 0px;
}
.finish1 {
  background-image: url("player1.png"), url("finish.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:
    top 10px left 0px,
    top left;
}
.finish2 {
  background-image: url("player2.png"), url("finish.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:
    top 10px left 0px,
    top left;
}
#button-container {
  display: flex;
}
#restart {
  color: white;
  background-color: red;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
}

.question {
  font-size: 64px;
  border: 1px solid grey;
  width: 100%;
  padding: 0;
  margin: 0;
}
