.all-games {
  margin-top: 20vh;
}

.games {
  background: white;
  border: 1px solid #eee;
}

.games-page {
  background: #f6f7f8;
  width: 100%;
  height: 100%;
}

.link-color {
  color: #0E91A1;
  padding: 4px;
}

.link-color:hover {
  padding: 4px;
  background-color: #EEEEEE;
  border-radius: 8px;
  color: #575757;
}

;

.link-selected {
  padding: 4px;
  background-color: #888888;
  border-radius: 8px;

}

.separator {
  width: 100%;
}

.modal-content {
  margin: 25vh auto;
}

#game-card-dropdown-button {
  width: 200px !important;
}

.allow-button {
  margin-bottom: 0;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.4rem;

}

.card-grid-kids-show {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  gap: 1.4rem;
}

.child-link-opacity {
  opacity: 0.5;
}
