// ------------- Classes -------------

.racer-table {
  margin: auto;
  text-align: center;

  td {
    background-color: #136F63;
    border: 1px solid white;
    box-shadow: 2px 2px 3px #337c72;
    height: 100px;
    margin: 16px;
    width: 100px;
  }
}

.racer-table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}

.finish {
  background-image: url(https://res.cloudinary.com/djznzpxie/image/upload/v1599041231/usgx6yukjimkwucpi1su.png);
  background-size: 100%;
  object-fit: cover;
}

.finish1 {
  background-image: url(https://res.cloudinary.com/djznzpxie/image/upload/v1599041220/p9yb3ijwni83jp6sadon.png), url(https://res.cloudinary.com/djznzpxie/image/upload/v1599041231/usgx6yukjimkwucpi1su.png);
  background-position:
    top 10px left 0px,
    top left;
  background-repeat: no-repeat;
  background-size: 100%;
}

.finish2 {
  background-image: url(https://res.cloudinary.com/djznzpxie/image/upload/v1599041226/ebpw4yrdxycbzv4t8spr.png), url(https://res.cloudinary.com/djznzpxie/image/upload/v1599041231/usgx6yukjimkwucpi1su.png);
  background-position:
    top 10px left 0px,
    top left;
  background-repeat: no-repeat;
  background-size: 100%;
}

.question {
  background: #364156;
  border-radius: 20px;
  box-shadow: 2px 2px 3px grey;
  color: white;
  font-size: 64px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.game-width {
  width: 100%;
}

.game-button {
  background: #3f485a;
  border: 1px solid #454e5f;

  &:hover {
    background: #313846;
    transition: 0.3s;
    border: 1px solid #313846;
  }
}

// ------------- IDs -------------

#back-to {
  border-radius: 20px;
  width: 100%;
}

#button-container {
  display: flex;
}

#game-background {
  background: #9BE8A6;
  color: #364156;
  min-height: 100vh;
  padding: 5px;
}

#player1-race,
#player2-race {
  margin: 0 auto;
}

#player1-race td.active {
  background-image: url(https://res.cloudinary.com/djznzpxie/image/upload/v1599041220/p9yb3ijwni83jp6sadon.png);
  background-position: top 10px left 0px;
  box-shadow: 0 0 2px 2px grey;
  object-fit: fill;
}

#player2-race td.active {
  background-image: url(https://res.cloudinary.com/djznzpxie/image/upload/v1599041226/ebpw4yrdxycbzv4t8spr.png);
  background-position: top 10px left 0px;
  box-shadow: 0 0 2px 2px grey;
}

#try-again {
  border-radius: 20px;
  display: none;
}

#update-score {
  border-radius: 30px;
  display: none;
  width: 100%;
}
