// Specific CSS for your home-page

// -------------------Classes---------------------

.landing-banner {
  text-align: center;
  margin: 25vh auto;
  width: 50%;
}

.paragraph {
  width: auto;
  padding-left: 0;
  color: #575757;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0;
}

.awesome-icons {
  color: #E97234;
  margin-top: 16px;
  position: absolute;
  top: 4px;
}


.orange-arrow {
  color: #E97234 !important;
  margin-top: 16px;
}

@media (min-width: 992px) {
  .first-container {
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  .first-container {
    height: 90vh;
  }
}

// .first-container {
//   height: 100vh;
// }


.subject-pick {
  position: relative;
  margin-top: 0px;

}

.subject-icon {
  width: 80px;
  margin: 0 4px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  border-radius: 5px;
}

.subject-icon:hover {
  margin-top: 12px;
}

.aligned {
  height: 182px;
  width: 80%;
  margin-bottom: 18px !important;
  text-align: center;
}

.testimonial-container {
  background: white;
}

.with-arrow {
  margin-top: 150px;
}

.card-container {
  width: 100vw;
  margin-top: 160px;
  background: rgba(200, 200, 200, 0.05);
}

.carousel-control-prev-icon {
  padding-right: 0px;
}

.carousel-control-next-icon {
  padding-left: 0px;
}

// ----------------------IDs----------------------------


#banner-h1 {
  color: white !important;
  font-weight: bold;
}

#rocket-landing {
  width: 215px;
  height: 215px;
  position: absolute;
  transform: rotate(40deg);
  top: 35vh;
  left: 67vw;
}


#large-arrow {
  font-size: 10em;
}

#rocket {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: rotate(90deg);
}

#link-with-rocket {
  transform: rotate(-90deg);
}


#bg-image-landing {
  height: 100vh;
  background-position: center bottom;
  background-size: cover;
  position: relative;
}

#about-us>* {
  color: white !important;
  font-size: 18px;
  text-decoration: none !important;
}

#about-us:hover {
  color: white !important;
  text-decoration: underline;
}

#arrow {
  color: #013134 !important;
}

@media (min-width: 768px) {
  #arrow {
    top: 102px;
  }
}

@media (min-width: 992px) {
  #arrow {
    top: 70px;
  }
}

@media (min-width: 1200px) {
  #arrow {
    top: 36px;
  }
}
