.background-container {
  min-height: 100vh; 
}

.achievements-wrap h2 {
  border-bottom: 2px solid #51dc3b;
  color: white;
  width: 86%;
  margin: 0 auto 36px auto;
}

.achievements {
  width: 80px;
  height: 80px;
  opacity: 1 !important;
}

.kid-name {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: Londrina Shadow;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

#border-xp:hover {
  display: block;
}

#avatar-kid {
  max-width: 300px;
}

.new-container {
  width: 100%;
  min-height: 100vh;
  background: #FABC2A;
}

.new-inner {
  height: 100%;
  width: 100%;
  background: linear-gradient(205deg, #2C8CB5 50%, rgba(255, 255, 255, 0) 50.5%, #51DC3B 51%);
  border-radius: 160px;
}

.top-inner {
  height: 50%;
  width: 300px;
  position: relative;
}

.subject {
  text-align: center;
  padding: 10px;
  height: 80%;
  margin: 10% 0;
}

.xp-area {
  position: relative;
  bottom: 300px;
}

.h-100 {
  height: 100%;
}

#border-xp {
  width: 100%;
  height: 9px;
  box-shadow: 0 0 2px 2px grey;
}

#xp-bar20 {
  width: 33%;
  height: 8px;
  background: #895fcc;
  box-shadow: 0 0 2px 2px lightgrey;
}

#xp-bar40 {
  width: 66%;
  height: 8px;
  background: #895fcc;
  box-shadow: 0 0 2px 2px lightgrey;
}

#level {
  width: 353px;
  height: 8px;
  left: 19px;
  top: 360px;
  font-family: Londrina Shadow;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.06em;
  background: linear-gradient(#D22C2C 0% rgba(255, 255, 255, 0) 100% #3848D8);
}

#current-xp {
  width: 104px;
  height: 38px;
  left: 315px;
  top: 365px;
  font-family: Londrina Shadow;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: -0.06em;
}

#trophy {
  width: 60px;
  height: 60px;
  left: 292px;
  top: 296px;
}

#trophy-id {
  margin-top: -60px;
}

.game-card-kid {
  background-color: #895fcc;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 13px;
  // transition: all 0.6s ease;
  // -webkit-transition: all 0.6s ease;
  // -moz-transition: all 0.6s ease;
  // -o-transition: all 0.6s ease;
  // box-shadow: none;
  // margin-top: 0;
  -webkit-transition: -webkit-transform .5s cubic-bezier(.47, 3.32, .31, -.36), opacity .3s;
  -webkit-transition: opacity .3s, -webkit-transform .5s cubic-bezier(.47, 3.32, .31, -.36);
  transition: opacity .3s, -webkit-transform .5s cubic-bezier(.47, 3.32, .31, -.36);
  transition: transform .4s cubic-bezier(.47, 3.32, .31, -.36), opacity .3s;
  transition: transform .4s cubic-bezier(.47, 3.32, .31, -.36), opacity .3s,
    -webkit-transform .5s cubic-bezier(.47, 3.32, .31, -.36);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.game-card-kid-image-small {
  object-fit: fit;
  width: 180px;
  height: 120px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.game-card-kid-image-medium {
  object-fit: fit;
  width: 250px;
  height: 210px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.game-card-kid-image-large {
  object-fit: fit;
  width: 300px;
  height: 240px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.game-card-kid:hover {
  transform: scale(1.1);
}
