// ------------- Classes -------------

.container-for-allowed-games {
  margin-top: 20vh;
}

.custom-header {
  font-size: 20px;
}


.games-kid-show-page {
  min-height: calc(100vh - 232px - 50px);
  padding-bottom: 8%;
  width: 100vw;
}

.kid-profile-allowed-games {
  margin-left: 10%;
  width: 60%;
}

.margin-top-no-games {
  @media (min-width: 576px) {
    margin-top: 3rem;
  }
  
  @media (max-width: 426px) {
    margin-top: 2rem;
  }
}
// ------------- IDs -------------
