// ------------- Classes -------------
// ------------- IDs -------------
.container-for-allowed-games {
  margin-top: 20vh;
}

.kid-profile-allowed-games {
  margin-left: 10%;
  width: 60%;
}

.custom-header {
  font-size: 20px;
}

.games-kid-show-page {
  width: 100vw;
  min-height: calc(100vh - 232px - 50px);
  padding-bottom: 8%;
}
