.racer_table {
  margin: auto;
}

.racer_table td {
  height: 80px;
  width: 80px;
  border: 1px solid whitesmoke;
}

.racer_table td.active {
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

#player1_race td.active {
  background-image: url(http://res.cloudinary.com/djznzpxie/image/upload/v1599041220/p9yb3ijwni83jp6sadon.png);
}

#player2_race td.active {
  background-image: url(http://res.cloudinary.com/djznzpxie/image/upload/v1599041226/ebpw4yrdxycbzv4t8spr.png);
}

td:last-child {
  background-image: url(http://res.cloudinary.com/djznzpxie/image/upload/v1599041231/usgx6yukjimkwucpi1su.png);
  background-size: cover;
}

td:last-child.active {
  background-size: 90%, cover;
  background-position: center, top left;
}

#player1_race td:last-child.active {
  background-image: url(http://res.cloudinary.com/djznzpxie/image/upload/v1599041220/p9yb3ijwni83jp6sadon.png), url(http://res.cloudinary.com/djznzpxie/image/upload/v1599041231/usgx6yukjimkwucpi1su.png);
}

#player2_race td:last-child.active {
  background-image: url(http://res.cloudinary.com/djznzpxie/image/upload/v1599041226/ebpw4yrdxycbzv4t8spr.png), url(http://res.cloudinary.com/djznzpxie/image/upload/v1599041231/usgx6yukjimkwucpi1su.png);
}
