.forgot-password {
  color: #0E0000 !important;
  &:hover {
    text-decoration: underline;
  }
}

.rounded {
  border-radius: 25px !important;
  display: inline-block;
  width: 130px;
}

.recover-password {
  border-radius: 25px !important;
  display: inline-block;
  width: 180px;
  background-color: lightgrey !important;

}

.account {
  color: blue;
  &:hover {
  text-decoration: underline;
 }
}

.login-container {
  width: 110%;
  height: 780px;
  background-color: #0A93A1;
  /*color: white !important;*/
}

.signup-button {
  font-family: sans-serif;
  border: 1px;
  border-radius: 25px;
  padding: 12px 45px;
  color: #FFFFFF !important;
  display: inline-block;
  width: 130px;
  text-align: center;
  transition: 0.3s;
}

.recover {
  font-family: sans-serif;
  border: 1px;
  border-radius: 25px;
  padding: 12px 45px;
  display: inline-block;
  width: 160px;
  text-align: center;
  transition: 0.3s;

}

.hint {

  color: white !important;
}
