
#forgot-password {
  color: black !important;
  background-color: black !important;

}

.rounded {
  border-radius: 25px !important;
  display: inline-block;
  width: 130px;
}

.account {
  color: blue;
}
