
.forgot-password {
  color: #0E0000 !important;
  &:hover {
    text-decoration: underline;
  }
}

.rounded {
  border-radius: 25px !important;
  display: inline-block;
  width: 130px;
}

.account {
  color: blue;
  &:hover {
  text-decoration: underline;
}
}
