// ------------- Classes -------------
// ------------- IDs -------------
.child-text a {
  color: black;
  font-size: 40px
}

.btn-mode {
  color: $icon;
}

.img-kid {
  height: 100px !important;
  width: 100px !important;
  object-fit: contain;
}
