<!-- landing page banner -->
<div class='container-fluid' id='bg-image-landing' style="background-image: url('https://res.cloudinary.com/djznzpxie/image/upload/v1598455211/mvtrrjfbxypqirgizjd5.svg')">
  <div class="container text-center">
    <div class="mobile-rocket-container mb-2">
      <%= cl_image_tag 'piifzgomj06non5hcq8qeip1jp21', id: 'mobile-rocket' %>
    </div>
    <h1 id='banner-h1'>Play. Learn. Discover.</h1>
    <%= link_to anchor: "anchor-for-about-us" do %>
    <button class="button orange mt-4">
      Get started
    </button>
    <% end %>
  </div>
  <%= cl_image_tag 'piifzgomj06non5hcq8qeip1jp21', id: 'rocket-landing' %>
</div>
