<!-- hard-coded carousel -->
<div class="container-fluid testimonial-container py-4 mt-3">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
    data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-fluid testimonial-container my-2 pb-3">
          <div class="container container-testimonial-inside">
            <div class="row">
              <div class="testimonial-text carousel-slide-margin">
                <i class="fas fa-quote-left fa-quotes"></i>
                <h2 class='pl-3'>Fantastic platform, helped my
                  child
                  to
                  improve his school results and find his way in
                  the
                  world of STEM.<span id="quotes">”</span></h2>
              </div>
              <div class="mobile-avatar-center">
                <div class="avatar-container avatar-container-padding">
                  <%= cl_image_tag 'isbmx3j00yxldzgku3xq', class: 'avatar-large mr-3' %>
                  <div class="testimonial-text">
                    <h3>Jada Folkner</h3>
                    <p class="paragraph">Mom from Steventon</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid testimonial-container my-2 pb-3">
          <div class="container container-testimonial-inside">
            <div class="row">
              <div class="testimonial-text carousel-slide-margin">
                <i class="fas fa-quote-left fa-quotes"></i>
                <h2 class='pl-3'>Me and my little one love
                  AllSmart!
                  Great educational games for many topics. Fantastic
                  platform.<span id="quotes">”</span></h2>
              </div>
              <div class="mobile-avatar-center">
                <div class="avatar-container avatar-container-padding">
                  <%= cl_image_tag 'uwpxa5ftaiboconyvghn', class: 'avatar-large mr-3' %>
                  <div class="testimonial-text">
                    <h3>Patrick Svenson</h3>
                    <p class="paragraph">AllSmart dad from London</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid testimonial-container my-2 pb-3">
          <div class="container container-testimonial-inside">
            <div class="row">
              <div class="testimonial-text carousel-slide-margin">
                <i class="fas fa-quote-left fa-quotes"></i>
                <h2 class='pl-3'>My little ones love AllSmart! They
                  have so much fun and learn so easily it is
                  unbelievable. I recommend.<span id="quotes">”</span></h2>
              </div>
              <div class="mobile-avatar-center">
                <div class="avatar-container avatar-container-padding">
                  <%= cl_image_tag 'rfhcylxg2vhnem3igyg9', class: 'avatar-large mr-3' %>
                  <div class="testimonial-text">
                    <h3>Prya Triverdi</h3>
                    <p class="paragraph">Mom of 2 from Delhi</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" id="prev-control" href="#carouselExampleControls"
      role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" id='next-control' href="#carouselExampleControls"
      role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
