<div class="form-page d-flex justify-content-center">
  <div class="form">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <h4 class="mb-4">Recover password</h4>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.button :submit, "Recover password", class: "button orange d-flex justify-content-center"%>
    <% end %>
  </div>
</div>
