<div class="container-fluid start-now">
  <%= cl_image_tag 'ue0taitpubdpislidb8b', id: 'logo-call-to-action' %>
  <div class="container h2-call">
    <h2 class='text-white'> Over 10000 children are
      succssefully using AllSmart every day. Join the community and
      start your journey today!</h2>
  </div>
  <%= link_to new_user_session_path do  %>
  <div class="login-button orange call-to-action mt-4" id='call-button'>
    Start Learning Now
  </div>
  <% end %>
</div>
