<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="banner">
  <div id="rocket" class='d-flex flex-column justify-content-center align-items-center'>
<%= cl_image_tag "km1n3yzqoai3bevzcnai", width: 150 %>
<%= link_to 'Catch me', games_path, class: 'btn btn-outline-warning mt-4',  id: 'link-with-rocket'%>
</div>
</div>
