<% if @allowed_games.count == 3  %>
<% @allowed_games.each do |allowed_game| %>
<div class="col-12 col-md-6 col-lg-4 my-5 d-flex flex-column justify-content-center align-items-center">
  <div class="game-card-kid p-2">
    <%= link_to game_path(allowed_game.game_id, kid_id: @kid) do %>
    <%= cl_image_tag allowed_game.game.cloud_imag_url, class: 'game-card-kid-image-medium' %>
    <div class="container mt-2">
      <h4>
        <%= allowed_game.game.title %>
      </h4>
      <h4>
        <%= allowed_game.game.topic %>
      </h4>
    </div>
    <% end %>
  </div>
</div>
<% end %>
<% end %>
