<!-- render allowed games in child mode using css grid -->
<div class="right-column pr-4">
  <div class='mt-4 text-center text-white d-flex justify-content-center'>
    <h2 class="kid-profile-allowed-games text-start">Games
      you can play</h2>
    <button type="button" class="button orange kid-prof-back"
      data-toggle="modal" data-target="#myModal">Exit</button>
  </div>
    <div class="card-grid mt-5 ml-4">
      <% @allowed_games.each do |allowed_game| %>
      <div class="game-card-kid pt-3">
        <%= link_to game_path(allowed_game.game_id, kid_id: @kid) do %>
        <%= cl_image_tag allowed_game.game.cloud_imag_url, class: 'game-card-kid-image-medium' %>
        <div class="container mt-3">
          <h5>
            <%= allowed_game.game.subject %>
          </h5>
          <h5>
            <%= allowed_game.game.topic %>
          </h5>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
