<!-- Modal for exiting child mode. Requires parental confirmation. -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Parental confirmation</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @kid do |f| %>
        <%= f.input :password_confirmation, :include_blank => true, placeholder: "password",
                              required: false,
                              input_html: { autocomplete: "new-password" }, label: "Enter password to go back" %>
        <%= link_to 'Confirm', profile_path(current_user), class:"d-flex justify-content-center align-items-center greenish button mt-1"  %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
