<div class="container py-5 my-5">
  <h1 class="text-center wagon-h1 mt-5">Smart Wagon Race</h1>
  <p class="m-2">Correct answers</p>
  <div>
    <table class="racer-table pb-2 m-2">
      <tr id="player1-race">
        <td class="active"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="finish"></td>
      </tr>
    </table>
  </div>
  <div>  
    <h1 class="text-center d-flex justify-content-center p-5 m-2 mt-5 question"></h1>
  </div>
  <div>
    <p class="mt-4 m-2">Incorrect answers</p>
    <table class="racer-table pt-2">
      <tr id="player2-race">
        <td class="active"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="finish"></td>
      </tr>
    </table>
  </div>
  <div>
  <%= link_to "Back to profile", kids_profile_path, class: "btn btn-primary m-1 mt-4" %>
  </div>
</div>