// ------------- Classes -------------

.avatar {
  border-radius: 50%;
  height: 40px;
  margin-top: 12px;
  object-fit: cover;
  object-position: center center;
  width: 40px;
}

.avatar-drop {
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
  object-position: center center;
  width: 40px;
}

.avatar-large {
  border-radius: 50%;
  height: 90px;
  object-fit: cover;
  object-position: center center;
  width: 90px;

  @media (max-width: 600px) {
    height: 70px;
    width: 70px;
  }
}

.avatar-medium {
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
  object-position: center center;
  width: 50px;
}

.avatar-profile {
  border: 4px solid $orange;
  border-radius: 50%;
  height: 160px;
  object-fit: cover;
  object-position: center center;
  width: 160px;
  @media (max-width: 428px) {
    width: 120px;
    height: 120px;
  }
}

// ------------- IDs -------------
#avatar-kid {
  max-width: 300px;
}
