// ------------- Classes -------------

.button {
  border: 1px solid white;
  border-radius: 25px;
  color: white !important;
  display: inline-block;
  font-family: sans-serif;
  font-size: clamp(10px, calc(1vw + 4px), 16px);
  font-weight: bold;
  padding: 14px 45px;
  text-align: center;
  transition: 0.3s;
  width: clamp(120px,17vw,180px);

  &:hover {
    text-decoration: none !important;
    background: white;
    color: $text !important;
    transition: 0.3s;
  }
}

.button-wide {
  width: 188px;
}

.greenish {
  background: $green;
  border: none;
  transition: 0.3s;

  &:hover {
    color: white !important;
    background: $green-hover !important;
    text-decoration: none !important;
  }
}

.greenish-icon {
  color: $green;
  border: none;
  transition: 0.3s;
}

.orange {
  background: $orange;
  border-color: $orange;
  transition: 0.3s;

  &:hover {
    background: $orange-hover !important;
    text-decoration: none !important;
    color: white !important;
  }
}

// ------------- IDs -------------

#scroll-login {
  background: transparent;
  border: 1px solid $green !important;
  color: $green !important;
  display: inline-block;

  &:hover {
    background: $green;
    color: white !important;
    border: 1px solid $green !important;
  }
}
