// ------------- Classes -------------

.button {
  border: 1px solid white;
  border-radius: 25px;
  color: white !important;
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  padding: 14px 45px;
  text-align: center;
  width: 180px;
  transition: 0.3s;

  &:hover {
    text-decoration: none !important;
    background: white;
    color: #023033 !important;
    transition: 0.3s;
  }
}

.button-wide {
  width: 188px;
}

.greenish {
  background: #0E91A1;
  border: none;
  transition: 0.3s;

  &:hover {
    color: white !important;
    background: #146c78 !important;
    text-decoration: none !important;
  }
}

.greenish-icon {
  color: #0E91A1;
  border: none;
  transition: 0.3s;
}

.orange {
  background: #E97234;
  border: none;
  transition: 0.3s;

  &:hover {
    background: #C94727 !important;
    text-decoration: none !important;
    color: white !important;
  }
}

// ------------- IDs -------------

#scroll-login {
  background: transparent;
  border: 1px solid #E97234 !important;
  border-radius: 25px;
  color: #E97234 !important;
  display: inline-block;
  font-family: sans-serif;
  padding: 12px 45px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  transition: 0.3s;
  width: 130px;

  &:hover {
    background: #E97234;
    color: white !important;
  }
}
