// ------------- Classes -------------
.card-product {
  align-items: center;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 160px;
  justify-content: space-around;
  margin: 0 auto;
  overflow: hidden;
  width: 80%;
  
  @media (min-width: 700px) and (hover: hover) {
   &:hover {
     box-shadow: 0 0 18px rgba(20, 20, 20, 0.6);
     margin-top: 24px;
   }
 }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 8px;
    opacity: .7;
  }

  .card-product-infos {
    padding: 16px;
    width: 70%;
  }
}

.card-button {
  margin: 0 auto;
  width: 80%;
}

// ------------- IDs -------------
