// ------------- Classes -------------

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.foot {
  font-size: 22px !important;
}

.footer {
  align-items: center;
  background: $background;
  color: $orange;
  font-size: 15px !important;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 20px;

  ul {
    list-style-type: none;
  }

  .fa-heart {
    color: $green;
  }
}

.footer-i {
  font-size: 20px;
  margin: 0 !important;
  padding: 0 !important;
}

.footer-links {
  align-items: center;

  a {
    color: $green;
    font-size: 24px;
    opacity: 0.50;
    padding: 0px 10px;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }

  p {
    color: $green;
    font-size: 0.5rem !important;
  }
}

// ------------- IDs -------------

#arrow-footer {
  color: $orange !important;
  font-size: 5em;
  margin-top: 16px;
  opacity: 0.50;
  padding: 0px 10px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

@media (max-width: 620px) {
  #arrow-footer {
    display: none;
  }
}
