// ------------- Classes -------------

.about-us {
  font-size: 18px;
  font-weight: normal;

  &:hover {
    text-decoration: underline !important;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  padding: 12px;
  padding-bottom: 4px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 136px;
  }
}

.test-navbar-scroll {
  color: $text-light;
  font-size: 18px;
}

// ------------- IDs -------------

#logo {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #logo {
    width: 80%;
  }
}

#name-user-onscroll {
  color: $text-light !important;
  width: 51px;

  &:hover {
    color: white !important;
  }
}
