// ------------- Classes -------------

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 2em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-menu.show {
    display: block;
    position: absolute !important;
    z-index: 1000 !important;
}

.for-user-js {
  color: $text-light !important;

  &:hover {
    color: white !important;
  }
}

.user-nav {
  align-items: center;
  width: 100%;
  padding: 8px;
}

.user-nav-container {
  color: white;
  padding: 15px 70px 15px 10px;
  
  &:hover {
  background: $green-hover;
  color: white !important;
  border-radius: 8px;  
  }
  
  &:hover>* {
  background: $green-hover;
  color: white !important;
  }

}



.navbar-mobile-flex {
  align-items: center;
  @media (max-width: 729px) {
    flex-direction: column-reverse !important;
    justify-content: flex-end;
    width: 100%;
  }
}



.navbar-mobile-margin {
  @media (max-width: 729px) {
    margin-top: 7.5vh !important;
    margin-bottom: 7.5vh !important;
  }
}

.navbar-mobile-flex>* {
  margin: 0;
}

.user-tab-highlighter {
  background: $green-hover;
  border-radius: 8px;
  color: white;
  padding: 8px;
}

// ------------- IDs -------------

#children-on-scroll {
  @media (max-width: 428px) {
    margin: 0 !important;
  }
}
#navbar-first-name {
  font-size: 18px;
}


