.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  // padding-top: 8px;
  // padding-bottom: 6px;
  width: 100%;
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 500;
}

.colored-navbar {
  background: #0D92A1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 136px;
}

.nav-link {
  color: #155263 !important;

}

#logo {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #logo {
    width: 80%;
  }
}

.about-us {
  font-size: 18px;
  font-weight: normal;
}

.about-us:hover {
  text-decoration: underline !important;
}

#about-us-onscroll {
  color: #575757 !important;
}

#about-us-onscroll:hover {
  text-decoration: underline;  
}
