.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
}

.navbar-margin {
  margin-top: calc(10vh + 10px);
  margin-bottom: calc(10vh + 10px);
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 2em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.user-nav-container {
  padding-right: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.user-nav-container:hover {
  background: #146c78;
  color: white !important;
  border-radius: 8px;
}

.user-nav-container:hover > * {
  background: #146c78;
  color: white !important;
}

.first-name-avatar-container:hover {
  background: #146c78;
  color: white !important;
  border-radius: 8px;
}

.for-user-js {
  color: #575757 !important;
}

.for-user-js:hover {
  color: white !important;
}

.user-tab-highlighter {
  background: #146c78;
  color: white;
  padding: 8px;
  border-radius: 8px;
}

#navbar-first-name {
  font-size: 18px;
}
