// ------------- Classes -------------
.avatar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.avatar-container-padding {
  padding-bottom: 5em;

  @media (max-width: 600px) {
    padding-bottom: 0;
  }
}

.carousel-control-prev,
.carousel-control-next {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 0;
  transition: opacity 0.15s ease;
  width: 15%;
  z-index: 1;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;

  @media (max-width: 600px) {
    margin-left: 20px;
  }
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;

  @media (max-width: 600px) {
    margin-right: 20px;
  }

}

.container-testimonial-inside {
  height: 100%;
  width: 50%;
  @media (max-width: 600px) {
    width: 80%;
  }
}

.carousel-slide-margin {
  margin-bottom: 1em;

  @media (max-width: 600px) {
    margin-bottom: 0;
  }
}

.fa-quotes {
  color: $green-dark !important;
  font-size: 2em !important;

  @media (max-width: 600px) {
    font-size: 1.2em;
  }

  margin-right: 8px;
  opacity: 0.8;
}

.mobile-avatar-center {
  @media (max-width: 600px) {
    width: 100%;
  }
}

.testimonial-text {
  text-align: left;
}

.testimonial-text h2 {
  font-size: clamp(12px, calc(1.5vw + 4px), 32px) !important;
  min-height: 60px;

  @media (max-width: 500px) {
    font-size: 16px !important;
  }
}

.testimonial-text h3 {
  font-size: clamp(8px, calc(1.5vw + 4px), 16px) !important;
  margin-top: 16px;
}

.testimonial-text p {
  font-size: clamp(4px, calc(1vw + 4px), 12px) !important;
  min-width: 120px;
}

.signature-wrapper {
  @media (max-width: 600px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// ------------- IDs -------------

#fa-quotes-right {
  font-size: 1em;
  margin-right: 0 !important;
  padding-top: 20px;
}

#quotes {
  color: $green-dark;
}
