// ------------- Classes -------------

.carousel-control-prev,
.carousel-control-next {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 0;
  transition: opacity 0.15s ease;
  width: 15%;
  z-index: 1;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.container-testimonial-inside {
  height: 100%;
  width: 50%;
}

.fa-quotes {
  color: $green-dark !important;
  font-size: 2em !important;
  margin-right: 8px;
  opacity: 0.8;
}

.testimonial-text {
  height: 100%;
  text-align: left;
}

// ------------- IDs -------------

#fa-quotes-right {
  font-size: 1em;
  margin-right: 0 !important;
  padding-top: 20px;
}

#quotes {
  color: $green-dark;
}
